.card {
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

p {
  animation: color-change 5s infinite;
  font-size: 30px;
}
@keyframes color-change {
  /* 0% {
    color: linear red;
  } */
  50% {
    color: linear-gradient(to right, rgb(150, 39, 26) 50%, rgb(1, 11, 14) 50%) left;
    font-size: 50px;
  }
  100% {
    color: rgb(95, 91, 149);
  }
}
